<a href="https://colab.research.google.com/github/Shane-a-na/bins/blob/master/CW02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset and Significance Test Selection (10 marks)
•	Choose a dataset (not used in the practical examples) with at least 100 rows, that is relevant to your interests or a problem you wish to investigate.
•	Explain where you obtained your dataset, its composition, and what question you intend to answer.
•	Based on your data set selection, determine whether you need a parametric or non-parametric significance test and provide an explanation.

In [42]:
import pandas as pd

# Read each CSV file into a pandas DataFrame
df1 = pd.read_csv('Annual_mean_temperature_°C_for_the_UK_England_Scotland_Wales_and_Northern_Ireland_1884 - 2022.csv')
df2 = pd.read_csv('Climate_and_weather.csv')
df3 = pd.read_csv('Emissions.csv', header=None, names=['Territorial emissions', 'Residence emissions', 'Carbon footprint emissions'], skiprows=1)

# Concatenate the DataFrames vertivally (along the rows)
result = pd.concat([df1, df2, df3], ignore_index=True)

# List of column names to convert
columns_to_convert = ['date', 'Annual mean temperature', 'Annual mean temperature (trend)', 'Territorial emissions', 'Residence emissions', 'Carbon footprint emissions']

# Convert the data type of selected columns
result[columns_to_convert] = result[columns_to_convert].astype(float)

# Print the DataFrame
print(result.head(100))

    Unnamed: 0  1961 to 1990 long-term average  \
0       1884.0                            8.28
1       1885.0                            8.28
2       1886.0                            8.28
3       1887.0                            8.28
4       1888.0                            8.28
..         ...                             ...
95      1979.0                            8.28
96      1980.0                            8.28
97      1981.0                            8.28
98      1982.0                            8.28
99      1983.0                            8.28

    1991 to 2020 long-term average    UK  England  Northern Ireland  Scotland  \
0                             9.07  8.48     9.26              8.70      7.05
1                             9.07  7.36     8.11              7.81      5.96
2                             9.07  7.45     8.25              7.79      5.94
3                             9.07  7.51     7.97              8.32      6.58
4                             9.07  7.28     7.82              8.00      6.18
..                             ...   ...      ...               ...       ...
95                            9.07  7.59     8.40              7.63      6.18
96                            9.07  8.26     8.92              8.47      7.04
97                            9.07  8.10     8.84              8.36      6.73
98                            9.07  8.66     9.44              8.62      7.27
99                            9.07  8.83     9.60              9.03      7.40

    Wales  date  Annual mean temperature  Annual mean temperature (trend)  \
0    8.71   NaN                      NaN                              NaN
1    7.57   NaN                      NaN                              NaN
2    7.86   NaN                      NaN                              NaN
3    7.52   NaN                      NaN                              NaN
4    7.52   NaN                      NaN                              NaN
..    ...   ...                      ...                              ...
95   7.86   NaN                      NaN                              NaN
96   8.51   NaN                      NaN                              NaN
97   8.44   NaN                      NaN                              NaN
98   8.96   NaN                      NaN                              NaN
99   9.16   NaN                      NaN                              NaN

    Territorial emissions  Residence emissions  Carbon footprint emissions
0                     NaN                  NaN                         NaN
1                     NaN                  NaN                         NaN
2                     NaN                  NaN                         NaN
3                     NaN                  NaN                         NaN
4                     NaN                  NaN                         NaN
..                    ...                  ...                         ...
95                    NaN                  NaN                         NaN
96                    NaN                  NaN                         NaN
97                    NaN                  NaN                         NaN
98                    NaN                  NaN                         NaN
99                    NaN                  NaN                         NaN

[100 rows x 14 columns]

# Significance Test (5 marks)
•	Select and explain the most appropriate significance test based on your question and data set.
•	Consider the following significance tests for your analysis (you need only choose one):
o	Independent t-test: Compare means between two independent groups.
o	Matched pairs t-test: Compare means between two related groups (paired data).
o	Mann-Whitney U test: Compare medians between two independent groups when data is not normally distributed.
o	Pearson correlation (Pearson r): Assess the linear relationship between two continuous variables.
o	Spearman's rank correlation: Assess the monotonic relationship between two ordinal or continuous variables.

# Interpretation (10 marks)
•	Carefully interpret the results of your significance test, keeping in mind the context of your question.
•	Avoid misinterpretation of statistical results and draw meaningful conclusions.

# Linear Regression Analysis: (25 marks)
•	Load and inspect the 'wine.csv ‘dataset
•	Explain the concept of linear regression and its relevance to the problem
•	Split the data into training and testing sets
•	Implement linear regression model on appropriate columns
•	Find the column pairs with the highest r_value and create a scatter plot with a line of regression
•	Interpret the findings

# Logistic Regression Analysis: (25 marks)
•	Explain the concept of logistic regression and its relevance to the problem
•	Split the data into training and testing sets
•	Implement logistic regression model with ‘class’ as the target column
•	Interpret the findings

# Comparison, Analysis & Conclusions: (25 marks)
•	Summarize the findings from the linear and logistic regression
•	Explain relevant machine learning concepts
•	Compare and link the results of linear regression and logistic regression analyses