<a href="https://colab.research.google.com/github/Shane-a-na/bins/blob/master/CW02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset and Significance Test Selection (10 marks)

•	The dataset that I have chosen relates to Non-Alcoholic Fatty Liver Disease.

•	Explain where you obtained your dataset, its composition, and what question you intend to answer.
I obtained the dataset from kaggle.com. There are 3 dastasets and I chose to use the one that has the most information wich is nafld1.csv
This dataset has 17549 rows and 10 columns of data that has been gathered from both male and female patient of differing age groups. After cleaning up the dataset we are left with 12562 rows and 10 columns.

•	Based on your data set selection, determine whether you need a parametric or non-parametric significance test and provide an explanation.
This dataset will need to use nonparametric significance test as the information is not based on assumptions and the data was collected from a sample. There are less rules that the dataset will need to conform to

(Data sets containing the data from a population study of non-alcoholic fatty liver disease (NAFLD). Subjects with the condition and a set of matched control subjects were followed forward for metabolic conditions, cardiac endpoints, and death.)

In [40]:
import pandas as pd
import numpy as np
import pylab
import scipy.stats as stats

# Read the CSV file
df = pd.read_csv('nafld1.csv')

# Remove NaN values from the table
df = df.dropna()

# df1 = np.array([df])

# Remove duplicate rows
df = df.drop_duplicates()

# Print the new file
df.head(100)

,Unnamed: 0,id,age,male,weight,height,bmi,case.id,futime,status
0,3631,1,57,0,60.0,163.0,22.690939,10630.0,6261,0
1,8458,2,67,0,70.4,168.0,24.884028,14817.0,624,0
2,6298,3,53,1,105.8,186.0,30.453537,3.0,1783,0
3,15398,4,56,1,109.3,170.0,37.830100,6628.0,3143,0
5,14423,6,39,0,63.9,155.0,26.615590,7144.0,1581,0
...,...,...,...,...,...,...,...,...,...,...
134,6788,135,40,0,103.7,167.0,37.187411,135.0,5269,0
135,4875,136,64,1,96.9,168.0,34.335892,10191.0,871,1
136,9044,137,55,0,97.8,170.0,33.762341,10023.0,4898,0
137,15339,138,69,0,92.7,165.0,34.018357,138.0,3866,0
138,1958,139,74,0,75.4,164.0,27.912190,290.0,2312,0

# Significance Test (5 marks)

•	Select and explain the most appropriate significance test based on your question and data set.

•	Consider the following significance tests for your analysis (you need only choose one):

o	Independent t-test: Compare means between two independent groups.

o	Matched pairs t-test: Compare means between two related groups (paired data).

o	Mann-Whitney U test: Compare medians between two independent groups when data is not normally distributed.

o	Pearson correlation (Pearson r): Assess the linear relationship between two continuous variables.

o	Spearman's rank correlation: Assess the monotonic relationship between two ordinal or continuous variables.

# Interpretation (10 marks)

•	Carefully interpret the results of your significance test, keeping in mind the context of your question.

•	Avoid misinterpretation of statistical results and draw meaningful conclusions.

# Linear Regression Analysis: (25 marks)

•	Load and inspect the 'wine.csv ‘dataset

•	Explain the concept of linear regression and its relevance to the problem

•	Split the data into training and testing sets

•	Implement linear regression model on appropriate columns

•	Find the column pairs with the highest r_value and create a scatter plot with
a line of regression

•	Interpret the findings

# Logistic Regression Analysis: (25 marks)

•	Explain the concept of logistic regression and its relevance to the problem

•	Split the data into training and testing sets

•	Implement logistic regression model with ‘class’ as the target column

•	Interpret the findings

# Comparison, Analysis & Conclusions: (25 marks)

•	Summarize the findings from the linear and logistic regression

•	Explain relevant machine learning concepts

•	Compare and link the results of linear regression and logistic regression analyses