<a href="https://colab.research.google.com/github/Shane-a-na/bins/blob/master/CW02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset and Significance Test Selection (10 marks)
•	Choose a dataset (not used in the practical examples) with at least 100 rows, that is relevant to your interests or a problem you wish to investigate.
•	Explain where you obtained your dataset, its composition, and what question you intend to answer.
•	Based on your data set selection, determine whether you need a parametric or non-parametric significance test and provide an explanation.

In [18]:
import pandas as pd

# Read each CSV file into a pandas DataFrame
df1 = pd.read_csv('Annual_mean_temperature_°C_for_the_UK_England_Scotland_Wales_and_Northern_Ireland_1884 - 2022.csv')
df2 = pd.read_csv('Climate_and_weather.csv')
df3 = pd.read_csv('Emissions.csv')

# Concatenate the DataFrames vertivally (along the rows)
result = pd.concat([df1, df2, df3], ignore_index=True)

# Remove rows with NaN values
# result = result.dropna()

# Remove columns with NaN values
# result = result.dropna(axis=1)

# Print the DataFrame
print(result)

     Unnamed: 0  1961 to 1990 long-term average  \
0        1884.0                            8.28
1        1885.0                            8.28
2        1886.0                            8.28
3        1887.0                            8.28
4        1888.0                            8.28
..          ...                             ...
306      2018.0                             NaN
307      2019.0                             NaN
308      2020.0                             NaN
309      2021.0                             NaN
310      2022.0                             NaN

     1991 to 2020 long-term average    UK  England  Northern Ireland  \
0                              9.07  8.48     9.26              8.70
1                              9.07  7.36     8.11              7.81
2                              9.07  7.45     8.25              7.79
3                              9.07  7.51     7.97              8.32
4                              9.07  7.28     7.82              8.00
..                              ...   ...      ...               ...
306                             NaN   NaN      NaN               NaN
307                             NaN   NaN      NaN               NaN
308                             NaN   NaN      NaN               NaN
309                             NaN   NaN      NaN               NaN
310                             NaN   NaN      NaN               NaN

     Scotland  Wales  date  Annual mean temperature  \
0        7.05   8.71   NaN                      NaN
1        5.96   7.57   NaN                      NaN
2        5.94   7.86   NaN                      NaN
3        6.58   7.52   NaN                      NaN
4        6.18   7.52   NaN                      NaN
..        ...    ...   ...                      ...
306       NaN    NaN   NaN                      NaN
307       NaN    NaN   NaN                      NaN
308       NaN    NaN   NaN                      NaN
309       NaN    NaN   NaN                      NaN
310       NaN    NaN   NaN                      NaN

     Annual mean temperature (trend)  Territorial emissions  \
0                                NaN                    NaN
1                                NaN                    NaN
2                                NaN                    NaN
3                                NaN                    NaN
4                                NaN                    NaN
..                               ...                    ...
306                              NaN              464.80755
307                              NaN              450.43518
308                              NaN              406.29217
309                              NaN              426.51000
310                              NaN              417.07551

     Residence emissions  Carbon footprint emissions
0                    NaN                         NaN
1                    NaN                         NaN
2                    NaN                         NaN
3                    NaN                         NaN
4                    NaN                         NaN
..                   ...                         ...
306             564.1445                    689.8844
307             550.5838                    670.4746
308             488.5964                    582.0048
309             502.7866                         NaN
310                  NaN                         NaN

[311 rows x 14 columns]

# Significance Test (5 marks)
•	Select and explain the most appropriate significance test based on your question and data set.
•	Consider the following significance tests for your analysis (you need only choose one):
o	Independent t-test: Compare means between two independent groups.
o	Matched pairs t-test: Compare means between two related groups (paired data).
o	Mann-Whitney U test: Compare medians between two independent groups when data is not normally distributed.
o	Pearson correlation (Pearson r): Assess the linear relationship between two continuous variables.
o	Spearman's rank correlation: Assess the monotonic relationship between two ordinal or continuous variables.

# Interpretation (10 marks)
•	Carefully interpret the results of your significance test, keeping in mind the context of your question.
•	Avoid misinterpretation of statistical results and draw meaningful conclusions.

# Linear Regression Analysis: (25 marks)
•	Load and inspect the 'wine.csv ‘dataset
•	Explain the concept of linear regression and its relevance to the problem
•	Split the data into training and testing sets
•	Implement linear regression model on appropriate columns
•	Find the column pairs with the highest r_value and create a scatter plot with a line of regression
•	Interpret the findings

# Logistic Regression Analysis: (25 marks)
•	Explain the concept of logistic regression and its relevance to the problem
•	Split the data into training and testing sets
•	Implement logistic regression model with ‘class’ as the target column
•	Interpret the findings

# Comparison, Analysis & Conclusions: (25 marks)
•	Summarize the findings from the linear and logistic regression
•	Explain relevant machine learning concepts
•	Compare and link the results of linear regression and logistic regression analyses