<a href="https://colab.research.google.com/github/Shane-a-na/bins/blob/master/Student_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction and Preliminary Findings:

In [2]:
from pandas.core.reshape.pivot import pivot_table
import pandas as pd

# Read the data from the CSV file
data = pd.read_csv('student_data_2.csv')
print(data)

# Print the number of rows and columns
#print(data.shape)
#print()

# Replace NaN wth 0
#data2 = data.fillna(0)

# Replace ? with unknown
#data2.replace('?', 'unknown', inplace=True)

# Print data
#print(data2)
#print()

status2 = pd.crosstab(data['Course'], data['Target'])

#print(status2)

     Marital_status  Application_order                           Course  \
0            single                NaN                          Nursing
1                 ?                5.0  Animation and Multimedia Design
2            single                1.0                          Tourism
3            single                5.0             Communication Design
4            single                2.0     Journalism and Communication
...             ...                ...                              ...
4420         single                6.0     Journalism and Communication
4421         single                2.0     Journalism and Communication
4422         single                1.0                          Nursing
4423         single                1.0                       Management
4424         single                1.0     Journalism and Communication

      Previous_qualification  Mother's_qualification  Father's_qualification  \
0                        NaN                     NaN                     NaN
1                        1.0                    19.0                    12.0
2                        1.0                     1.0                     3.0
3                        1.0                    37.0                    37.0
4                        1.0                    38.0                    37.0
...                      ...                     ...                     ...
4420                     1.0                     1.0                     1.0
4421                     1.0                     1.0                     1.0
4422                     1.0                    37.0                    37.0
4423                     1.0                    37.0                    37.0
4424                     1.0                    38.0                    37.0

      Admission_grade Educational_special_needs  Gender Scholarship_holder  \
0                 NaN                        no  female                 no
1               127.3                        no    male                 no
2               142.5                        no    male                 no
3               124.8                        no    male                 no
4               119.6                        no  female                 no
...               ...                       ...     ...                ...
4420            122.2                        no    male                 no
4421            119.0                        no  female                 no
4422            149.5                        no  female                yes
4423            153.8                        no  female                yes
4424            152.0                        no  female                 no

      Age_at_enrollment  Unemployment_rate  Inflation_rate   GDP    Target
0                   NaN                NaN             NaN   NaN   Dropout
1                  20.0               10.8             1.4  1.74   Dropout
2                  19.0               13.9            -0.3  0.79  Graduate
3                  19.0               10.8             1.4  1.74   Dropout
4                  20.0                9.4            -0.8 -3.12  Graduate
...                 ...                ...             ...   ...       ...
4420               19.0               15.5             2.8 -4.06  Graduate
4421               18.0               11.1             0.6  2.02   Dropout
4422               30.0               13.9            -0.3  0.79   Dropout
4423               20.0                9.4            -0.8 -3.12  Graduate
4424               22.0               12.7             3.7 -1.70  Graduate

[4425 rows x 15 columns]

## Data Cleansing:

In [ ]:
import pandas as pd

## Univariate Analysis:

In [ ]:
import pandas as pd

## Bivariate Analysis

In [ ]:
import pandas as pd

## Conclusions: