<a href="https://colab.research.google.com/github/Shane-a-na/bins/blob/master/Student_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction and Preliminary Findings:
Introduction
•	Brief explanation of the student_data_2. csv data set.
•	Overview of the assessment objectives.
•	Description of key questions, given the aim, your report aims to answer through EDA.

##Data Loading
Data Loading and Initial Inspection
Load the student_data_2. csv Data Set.
Display basic information about the dataset (e.g., number of rows and columns).
Examine the first few rows of the dataset to get a glimpse of the data.

In [1]:
import pandas as pd

data = pd.read_csv('student_data_2.csv')  # Loads and reads the .CSV file
print(data)                               # Print the 'Dirty' data before any Cleansing
print()
print(data.shape)                         # Prinr data rows and columns before Cleansing

     Marital_status  Application_order                           Course  \
0            single                NaN                          Nursing
1                 ?                5.0  Animation and Multimedia Design
2            single                1.0                          Tourism
3            single                5.0             Communication Design
4            single                2.0     Journalism and Communication
...             ...                ...                              ...
4420         single                6.0     Journalism and Communication
4421         single                2.0     Journalism and Communication
4422         single                1.0                          Nursing
4423         single                1.0                       Management
4424         single                1.0     Journalism and Communication

      Previous_qualification  Mother's_qualification  Father's_qualification  \
0                        NaN                     NaN                     NaN
1                        1.0                    19.0                    12.0
2                        1.0                     1.0                     3.0
3                        1.0                    37.0                    37.0
4                        1.0                    38.0                    37.0
...                      ...                     ...                     ...
4420                     1.0                     1.0                     1.0
4421                     1.0                     1.0                     1.0
4422                     1.0                    37.0                    37.0
4423                     1.0                    37.0                    37.0
4424                     1.0                    38.0                    37.0

      Admission_grade Educational_special_needs  Gender Scholarship_holder  \
0                 NaN                        no  female                 no
1               127.3                        no    male                 no
2               142.5                        no    male                 no
3               124.8                        no    male                 no
4               119.6                        no  female                 no
...               ...                       ...     ...                ...
4420            122.2                        no    male                 no
4421            119.0                        no  female                 no
4422            149.5                        no  female                yes
4423            153.8                        no  female                yes
4424            152.0                        no  female                 no

      Age_at_enrollment  Unemployment_rate  Inflation_rate   GDP    Target
0                   NaN                NaN             NaN   NaN   Dropout
1                  20.0               10.8             1.4  1.74   Dropout
2                  19.0               13.9            -0.3  0.79  Graduate
3                  19.0               10.8             1.4  1.74   Dropout
4                  20.0                9.4            -0.8 -3.12  Graduate
...                 ...                ...             ...   ...       ...
4420               19.0               15.5             2.8 -4.06  Graduate
4421               18.0               11.1             0.6  2.02   Dropout
4422               30.0               13.9            -0.3  0.79   Dropout
4423               20.0                9.4            -0.8 -3.12  Graduate
4424               22.0               12.7             3.7 -1.70  Graduate

[4425 rows x 15 columns]

(4425, 15)

## Data Cleansing:
Data Cleansing and Pre-processing
•	Check for and address any errors, removing rows if/where appropriate.
•	Examine the numeric columns (not categorical) listing the number of outliers at a threshold of 3 SD
•	Explain the initial steps referencing the aim of the report.

In [2]:

print('DATA CLEANED')                     # All 'NaN' and '?' that had been put in the data will been removed so there is less noise to filter
print()
data.replace('?', pd.NA, inplace=True)    # Replace all '?' with 'NA' to prevent anomalies
data2=data.dropna(axis=1)
print(data2.dropna())                     # Print new data with NA dropped
print()
print(data2.shape)                        # Print data rows and columns after Cleansing
data2.head(4424)

DATA CLEANED

                               Course Educational_special_needs  Gender  \
0                             Nursing                        no  female
1     Animation and Multimedia Design                        no    male
2                             Tourism                        no    male
3                Communication Design                        no    male
4        Journalism and Communication                        no  female
...                               ...                       ...     ...
4420     Journalism and Communication                        no    male
4421     Journalism and Communication                        no  female
4422                          Nursing                        no  female
4423                       Management                        no  female
4424     Journalism and Communication                        no  female

     Scholarship_holder    Target
0                    no   Dropout
1                    no   Dropout
2                    no  Graduate
3                    no   Dropout
4                    no  Graduate
...                 ...       ...
4420                 no  Graduate
4421                 no   Dropout
4422                yes   Dropout
4423                yes  Graduate
4424                 no  Graduate

[4425 rows x 5 columns]

(4425, 5)

,Course,Educational_special_needs,Gender,Scholarship_holder,Target
0,Nursing,no,female,no,Dropout
1,Animation and Multimedia Design,no,male,no,Dropout
2,Tourism,no,male,no,Graduate
3,Communication Design,no,male,no,Dropout
4,Journalism and Communication,no,female,no,Graduate
...,...,...,...,...,...
4419,Communication Design,no,male,no,Graduate
4420,Journalism and Communication,no,male,no,Graduate
4421,Journalism and Communication,no,female,no,Dropout
4422,Nursing,no,female,yes,Dropout
4423,Management,no,female,yes,Graduate

## Univariate Analysis:
Univariate Analysis
•	Examine the data set using; basic statistics, measures of central tendency, standard deviations, and value counts
•	Visualize the distributions of key numerical variables using a histogram
•	Analyse the frequency distribution of a categorical variable using a bar chart
•	Explain how the techniques work and your findings referencing the aim of the report.

In [ ]:
# import pandas as pd


data2['Target'].value_counts()            # Counts up the values in the 'Target' column

Graduate    2209
Dropout     1422
Enrolled     794
Name: Target, dtype: int64

## Bivariate Analysis
Bivariate Analysis
•	Explore the correlation between two meaningful numerical variables, using a conditional if statement to show the strength of the correlation and another to show whether or not it is statistically significant
•	Explore either a cross tabulation or a pivot table between two columns
•	Explain how the techniques work and your findings referencing the aim of the report.

In [ ]:
import pandas as pd

## Conclusions:
Conclusions
•	Summarize the main findings and insights from the exploratory data analysis.
•	Draw conclusions and insights based on the EDA results.